<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BTWrapper - A web based BittyTax interface</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link href="
https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/flatly/bootstrap.min.css
" rel="stylesheet">
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

  <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">BTWrapper - A web based BittyTax interface</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
      </div>
    </div>
  </nav>



  <div class="container">
    <br>
    <p class="lead">A web interface to the <a href="https://github.com/BittyTax/BittyTax?tab=readme-ov-file#bittytax"
        target="_blank">BittyTax</a> CGT calculator, currently configured for UK stocks & shares and crypto.</p>

    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Further info
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample" style="">
          <div class="accordion-body">
            <p><strong>This is simply a wrapper running the latest version.</strong> The BittyTax tool is primarily
              aimed at CGT calculation for crypto, however the HMRC matching rules are the same for shares and so this
              tool is great when used for this purpose too. The BittyTax format is a good fit when you are working with
              other foreign currencies and not just GBP, for example, Trading 212 and Interactive Brokers where the
              currency you are using for trades could be USD. This tool assumes that you already have data in the
              correct BittyTax format. If adding crypto trades there could be an issue depending on the amount of API
              price lookups, so bear that in mind.
            </p>
            <p>Thanks for BittyTax goes to Scott Green who has created it over the years. It has been immensely helpful
              to me. Please consider donating to help support his project at <a
                href="https://github.com/sponsors/BittyTax">https://github.com/sponsors/BittyTax</a> . This wrapper is
              not affilated with BittyTax in any way, it is just a way to bring this tool to a wider audience. The idea
              is to add features here going forward. The functionaltiy here is provided 'as is' without any warranty.
              This tool is written in Python and the source code is available <a
                href="https://gitlab.com/njwedwards/btwrapper">here</a>. Any questions or comments email at <a
                href="mailto:btwrapper@edce.uk">btwrapper@edce.uk</a>
            </p>

          </div>
        </div>
      </div>
    </div>




    <form method="post" action="/" enctype="multipart/form-data">
      {{ form.csrf_token }}

      <!-- {{ form.message.label }} -->
      <div class="row">
        <div class="col-lg-6">
          <div>{{ form.excel.label(class='form-label mt-4') }} - Must be in BittyTax format {{
            form.excel(class='form-control')}}</div>
          <div class="mt-2">
            {% if stored_filename %}
              <span class="text-muted">Stored file: {{ stored_filename }}</span>
              <a href="{{ url_for('clear_stored_file') }}" class="btn btn-sm btn-outline-danger ms-2">Clear</a>
            {% endif %}
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row align-items-end mt-4">
            <div class="col-md-6">
              {{ form.bittytax_entity.label(class='form-label') }}
              {{ form.bittytax_entity(class='form-select') }}
            </div>
            <div class="col-md-6">
              {{ form.bittytax_type.label(class='form-label') }}
              <div class="btn-group w-100" role="group" aria-label="Basic radio toggle button group">
                {% for subfield in form.bittytax_type %}
                {{ subfield(class='btn-check') }}
                {{ subfield.label(class='btn btn-outline-primary') }}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>



      <div>{{ form.message.label(class='form-label mt-4') }} - In BittyTax format (csv or tab delimited which will be
        converted to csv - helpful when you copy from Excel/Sheets etc) {{ form.message(cols="160", rows="16",
        class='form-control') }}</div>


      <fieldset>
        <div class="mt-4 mb-2">Run options (see BittyTax help)</div>
        <div class="d-flex flex-wrap gap-3">
          <div class="form-check">
            {{ form.bittytax_debug(class="form-check-input") }} {{ form.bittytax_debug.label(class="form-check-label") }}
          </div>
          <div class="form-check">
            {{ form.bittytax_skipint(class="form-check-input") }} {{ form.bittytax_skipint.label(class="form-check-label") }}
          </div>
          <div class="form-check">
            {{ form.bittytax_auditonly(class="form-check-input") }} {{ form.bittytax_auditonly.label(class="form-check-label") }}
          </div>
          <div class="form-check">
            {{ form.bittytax_summary(class="form-check-input") }} {{ form.bittytax_summary.label(class="form-check-label") }}
          </div>
          <div class="form-check">
            {{ form.bittytax_nopdf(class="form-check-input") }} {{ form.bittytax_nopdf.label(class="form-check-label") }}
          </div>
        </div>
      </fieldset>

      <div>
        {{ form.bittytax_taxyear(class="form-select") }}
      </div>

      <br>


      <input type="submit" value="Submit" class="btn btn-primary">


    </form>
    <p></p>
    <p>

      {% if request.method == 'POST' %}

      {% if not form.bittytax_nopdf.data %}
      <a href="{{ url_for('download_file', filename=pdf) }}">Download PDF Report</a>
      {% endif %}

    <h2>BittyTax output:</h2>
    {% endif %}

    </p>

    <pre>{{ output }}</pre>
    {% if error %}
        <pre class="alert alert-danger">
            <strong>Error:</strong> {{ error }}
        </pre>
    {% endif %}
  </div>

</body>

</html>